* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color:#A9A9A9;
    font-weight: 600;
    font-size: 14px;
}
h1, h2 {
    color: black;
}
h1 {
    font-size: 24px;
}
h2 {
    font: 18px;
}
.container {
    display: grid;
    grid-template-areas: "profile profile profile"
                        "photo1 photo2 photo2"
                        "photo3 photo3 photo4"
                        "photo6 photo5 photo4";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto repeat(3, auto);
    gap: 32px;
    max-width: 970px;
    justify-content: center;
    margin: auto;
    padding: 60px 15px 175px 15px;
    
}

.gallery {
    border-radius: 12px;
    overflow: hidden;
    
}
.container .gallery img {
    height: 100%;
    width: 100%;
}
.profile {
    grid-area: profile;
    text-align: center;
    margin-bottom: 20px;
}
.profile img {
    height: 156px;
    border-radius: 16px;

}
.container .profile .information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.information div{
    background-color:#E5E5E5;
    border-radius: 12px;
    width: 100px;
    height: 65px;
    text-align: center;
    margin: 12px;
}

.information div h2 {
    padding-top: 10px;
}
.container .gallery.photo1 {
    grid-area: photo1;
}
.container .gallery.photo2 {
    grid-area: photo2;
}
.container .gallery.photo3 {
    grid-area: photo3;
}
.container .gallery.photo4 {
    grid-area: photo4;
}
.container .gallery.photo5 {
    grid-area: photo5;
}
.container .gallery.photo6 {
    grid-area: photo6;
}

footer {
    padding: 20px;
}

@media(max-width:675px) {
    .container{
        gap: 12px;
    }
    .information div {
        width: 78px;
        height: 52px;
    }
    .container {
        padding-bottom: 50px;
    }
    h1 {
        font-size: 14px;
    }
    p {
        font-size: 10px;
    }
    .information, .information p {
        font-size: 12px;
    }
}